version: "2"
services:
  gili-api:
    build: ./
    image: registry.cn-beijing.aliyuncs.com/jinyuyoulong/gili-api:v0.0.2
    restart: always
    environment:
      MYSQL_DSN: "root:xxx@tcp(172.20.0.2)/giligili?charset=utf8mb4&parseTime=True&loc=Local"
      REDIS_ADDR: "172.21.0.2:6379"
      REDIS_PW: ""
      REDIS_DB: "0"
      SESSION_SECRE: "xxx"
      GIN_MODE: "release"
    ports:
      - 3002:3000
    depends_on:
      - redis
      - mysql
  
  mysql:
    container_name: mysql
    image: mysql:5.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: xxx
      MYSQL_DATABASE: giligili
    volumes:
      - mysql_data:/var/lib/mysql/data
    ports:
      - 3306:3306

  redis:
    container_name: redis
    image: redis
    restart: always
    ports:
      - 6379:6379
